.header_container {
  width: 100%;
  height: 785px;
  background-color: grey;
}

.nav {
  justify-content: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 15px;
  color: white;
}

.logo_img {
  margin: 0 auto;
  width: 25%;
  display: block;
  margin-top: 178px;
}

.about_us_container {
  background-color: green;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.services_container {
  background-color: yellow;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact_box_container {
  background-color: pink;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team_container {
  background-color: rgb(108, 108, 247);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_container {
  background-color: rgb(138, 4, 255);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
